@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
}

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: white;
  overflow-x: hidden;
}

* {
  scroll-behavior: smooth;
}
